name: Function Publish

on:
    push:
        branches:
            - master
    workflow_dispatch:

env:
    FUNCTION_NAME: 'gmba'

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read #This is required for actions/checkout

        steps:
            - name: 'Checkout GitHub Action'
              uses: actions/checkout@v4

            - name: Setup Node Environment
              uses: actions/setup-node@v3
              with:
                  node-version: 24

            - name: 'Resolve Project Dependencies Using NPM'
              shell: bash
              run: npm install

            - name: 'Build Project'
              shell: bash
              run: npm run build

            - name: Zip artifact for deployment
              run: zip release.zip ./* -r

            - name: Upload artifact for deployment job
              uses: actions/upload-artifact@v4
              with:
                  name: function-artifact
                  path: release.zip

    deploy:
        runs-on: ubuntu-latest
        environment: Azure Publish
        needs: build
        permissions:
            id-token: write
            contents: read

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: function-artifact

            - name: Unzip artifact for deployment
              run: |
                  unzip release.zip
                  rm release.zip

            - name: Login to Azure
              uses: azure/login@v2
              with:
                  client-id: ${{ vars.AZURE_CLIENT_ID }}
                  tenant-id: ${{ vars.AZURE_TENANT_ID }}
                  subscription-id: ${{ vars.AZURE_SUBSCRIPTION }}

            - name: 'Run Azure Functions Action'
              uses: Azure/functions-action@v1
              id: fa
              with:
                  app-name: 'gmba'
                  slot-name: 'Production'
                  package: '.'
